<!DOCTYPE html>
<html>
<head>
  <title>毛豆网 - 和最好的老师一对一学编程</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script>
    var TogetherJSConfig = {
      disableWebRTC: true,
      enableShortcut: true
    };
  </script>
  <script src="https://togetherjs.com/togetherjs-min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div class="clearfix">
        <h1 class="site-logo"><a href="/">毛豆网 - 和最好的老师一对一学编程</a></h1>
        <ul class="top-nav">
          <li><a href="/try">毛豆实验室</a></li>
          <li><button class="together-toggle" onclick="TogetherJS(this); return false;">一对一</button></li>
        </ul>
      </div>
    </div> <!-- end header -->
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div><!-- end of wrapper -->

  <div class="clearfix">
    <div class="site-footer clearfix">
      <ul class="site-footer-links right">
        <li>QQ交流群:  235352162</li>
      </ul>
      <ul class="site-footer-links">
        <li>© 2014 <span title="pp2code">pp2code</span>, Inc.</li>
      </ul>
    </div>
  </div>

  <%= yield :template_js %>

</body>
</html>
